{% extends "shop/inline_base.html" %}
{% load static %}

{% block title %}
    KexTech Partnerships
{% endblock %}

{% block content %}

<div class="media" style="padding:50px">
      <a class="media-left media-top" href="#">
        <img class="pull-left" src="{% static 'img/LSEAMS_LOGO.png' %}" width="200" height="200">
      </a>
      <div class="media-body">
        <a href="https://www.lsesu.com/activities/societies/society/10443/"><h2 class="media-heading">LSE Applicable Mathematics</h2></a>
          <h3>About</h3>
        <p>The Applicable Mathematics Society strives to prepare its members with the mathematical
            knowledge they are going to need in the real world. This ranges from preparing students
            for internships, jobs, or even graduate school. Primarily, we focus on maths not traditionally
            taught at the LSE along with holding sessions that teach our members computer programs.
            The focus of the club from year to year is largely determined by the
            make up of the society at that given point in time.</p>
      </div>
</div>


<div class="media" style="padding:50px">
      <a class="media-left media-top" href="#">
        <img class="pull-left" src="{% static 'img/finds_logo.png' %}" width="200" height="200">
      </a>
      <div class="media-body">
        <a href="https://uclfinds.org"><h2 class="media-heading">UCL Financial Insdustry Series</h2></a>
        <h3>About</h3>
            <p>UCL Financial Industry Series, or more commonly known as UCL FINDS is a student-run forum that organises high-impact conferences,
            debates and talks on financial topics. We were founded in December 2010 with the purpose of providing students, and professionals
            alike, with the opportunity to look into the latest topics within the financial industry. Attendees can not only develop a
            comprehensive understanding of the field but also benefit from unique networking opportunities.
            </p>
          <h3>Vision</h3>
        <p>To empower the most ambitious students at UCL with the knowledge they need for a career in the financial services industry specifically
           focused on technology.</p>
          <h3>Why UCL FINDS?</h3>
        <p>We have an almost 10 year long relationship with each of our partner firms – this allows us to access several
            high profile individuals for talks.</p>
      </div>
</div>

{% endblock %}